name: Publish s3-archive-stream
on:
  release:
    types: [published]
permissions:
  id-token: write
  contents: read
jobs:
  test:
    name: Publish s3-archive-stream
    runs-on: ubuntu-latest
    services:
      s3mock:
        image: adobe/s3mock
        ports:
          - 9090:9090
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Use NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Update npm
        run: npm install -g npm@latest
      - name: Install dependencies
        run: npm ci
      - name: Check code style
        run: npm run fix-check
      - name: Run tests
        run: npm run test
      - name: Build package
        run: npm run clean:build
      - name: Publish to NPM registry
        run: npm publish --access public