name: Publish s3-archive-stream
on:
  release:
    types: [published]
jobs:
  test:
    name: Publish s3-archive-stream
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Use NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Check code style
        run: npm run fix-check
      - name: Run tests
        run: npm run test
      - name: Publish to NPM registry
        run: npm publish --access public