name: Publish s3-archive-stream
on:
  release:
    types: [published]
jobs:
  test:
    name: Publish s3-archive-stream
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Use NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run fix-check
      - run: npm publish --access public