name: Test s3-archive-stream
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    name: Test s3-archive-stream
    runs-on: ubuntu-latest
    services:
      s3mock:
        image: adobe/s3mock
        ports:
          - 9090:9090
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Use NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Check code style
        run: npm run fix-check
      - name: Run tests
        run: npm run test