name: Test s3-archive-stream
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  test:
    name: Test s3-archive-stream
    runs-on: ubuntu-latest
    services:
      s3mock:
        image: adobe/s3mock
        ports:
          - 9090:9090
    env:
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
      AWS_REGION: us-east-1
      S3_MOCK_ENDPOINT: http://s3mock:9090
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Use NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run fix-check
      - run: npm run test